*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    
    
}
.content{
   padding: 70px;
   background-color: yellow;
   border-radius: 10px;
   box-shadow: 0 3px 3px rgba(0, 0, 0, .8);
   text-align: center;
   margin: 10px;
}
h4{
    font-size: 30px;
}
input{
    display: block;
    width: 100%;
    padding: 20px 50px;
    border: none;
    margin: 10px 0px;
    text-align: center;
    font-size: 20px;
}
button{
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.score{
    text-align: right;
    color: blue;
}

